In [2]:
import kagglehub
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
os.environ["KAGGLEHUB_CACHE"] = "/Volumes/SecureSSD/Projects/LearningML/kaggle"

In [3]:
path = kagglehub.dataset_download("mahendran1/icc-cricket")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.12).

In [4]:
odi_data = path + "/Batting/ODI data.csv"
dt = pd.read_csv(odi_data)
dt.head(10)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
5,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
6,6,V Kohli (INDIA),2008-2019,242,233,39,11609,183,59.84,12445,93.28,43,55,13,NaN
7,7,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,NaN
8,8,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.7,22,72,16,NaN
9,9,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,NaN

In [5]:
dt.shape

(2500, 15)

In [6]:
dt.columns

Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0', 'Unnamed: 13'],
      dtype='object')

In [7]:
dt.drop('Unnamed: 13', axis =1, inplace = True)

In [8]:
dt.columns

Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0'],
      dtype='object')

In [9]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2500 non-null   int64
 1   Player      2500 non-null   object
 2   Span        2500 non-null   object
 3   Mat         2500 non-null   int64
 4   Inns        2500 non-null   object
 5   NO          2500 non-null   object
 6   Runs        2500 non-null   object
 7   HS          2500 non-null   object
 8   Ave         2500 non-null   object
 9   BF          2500 non-null   object
 10  SR          2500 non-null   object
 11  100         2500 non-null   object
 12  50          2500 non-null   object
 13  0           2500 non-null   object
dtypes: int64(2), object(12)
memory usage: 273.6+ KB

In [10]:
dt.dtypes

Unnamed: 0     int64
Player        object
Span          object
Mat            int64
Inns          object
NO            object
Runs          object
HS            object
Ave           object
BF            object
SR            object
100           object
50            object
0             object
dtype: object

In [11]:
dt['Ave'] = pd.to_numeric(dt['Ave'], errors = 'coerce')

In [12]:
dt[dt['Mat'] == dt['Mat'].max()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20

In [13]:
dt[['Player', 'Mat']].head(5)

                        Player  Mat
0         SR Tendulkar (INDIA)  463
1  KC Sangakkara (Asia/ICC/SL)  404
2         RT Ponting (AUS/ICC)  375
3      ST Jayasuriya (Asia/SL)  445
4   DPMD Jayawardene (Asia/SL)  448

In [14]:
a = np.arange(1_000_000)
%timeit a2 = a * 2

524 μs ± 13.1 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [15]:
dt[dt['Mat'] == dt['Mat'].min()].head(1)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
1326,26,KJ Barnett (ENG),1988-1988,1,1,0,84,84,84.0,146,57.53,0,1,0

In [16]:
dt.sort_values("Ave", axis=0, inplace=False, ascending=False).head(5)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
1082,32,MP O'Dowd (NL),2019-2019,2,2,1,145,86*,145.00,200,72.5,0,2,0
1268,18,AL Kandappah (CAN),2007-2007,2,2,1,97,69*,97.00,156,62.17,0,1,0
1274,24,Aamer Yamin (PAK),2015-2018,4,3,2,95,62,95.00,96,98.95,0,1,0
1326,26,KJ Barnett (ENG),1988-1988,1,1,0,84,84,84.00,146,57.53,0,1,0
865,15,CT Radley (ENG),1978-1978,4,4,1,250,117*,83.33,367,68.11,1,1,0

In [17]:
dt[dt['Player'].apply(lambda x : "ENG" in x)].sort_values('Ave', ascending=False).head(1)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
1326,26,KJ Barnett (ENG),1988-1988,1,1,0,84,84,84.0,146,57.53,0,1,0

In [18]:
dt[dt['50'] == dt['50'].max()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20

In [19]:
dt[dt['SR'] == dt['SR'].max()]

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
417,17,Rashid Khan (AFG),2015-2019,71,56,9,905,60*,19.25,906,99.88,0,4,6